# Test Set Evaluation Report

**Balanced Accuracy:** 0.9076

```
               precision    recall  f1-score   support

 female_adult       0.88      0.73      0.80       150
female_senior       0.95      0.97      0.96       150
 female_young       0.82      0.88      0.85       149
   male_adult       0.90      0.97      0.93       150
  male_senior       0.97      0.95      0.96       150
   male_young       0.92      0.94      0.93       150

     accuracy                           0.91       899
    macro avg       0.91      0.91      0.91       899
 weighted avg       0.91      0.91      0.91       899

```
