# Test Set Evaluation Report

**Balanced Accuracy:** 0.8975

```
               precision    recall  f1-score   support

 female_adult       0.81      0.77      0.79       150
female_senior       0.97      0.97      0.97       150
 female_young       0.80      0.79      0.80       149
   male_adult       0.90      0.98      0.94       150
  male_senior       0.99      0.95      0.97       150
   male_young       0.93      0.91      0.92       150

     accuracy                           0.90       899
    macro avg       0.90      0.90      0.90       899
 weighted avg       0.90      0.90      0.90       899

```
